@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

/* your styling rules go here */

img {
	padding-bottom: 1em;
}

.big {
	font-size: larger;
}

.purple {
	color: rebeccapurple;
}